.header{
    background-image: url(img/AZ-en-20221031-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    height: 100vh;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.df{
    display: flex;
}

.nav{
    width: 93%;
    height:12vh;
    margin: 0 auto;
}

.netlogo{
    width: 13%;
    height: 12vh;
    margin-top: 1%;
}

.btn{
    width: 7%;
    height: 7vh;

    margin-left: 75%;
    margin-top: 1.5%;

    background-color: red;
    color: white;
    font-family: sans-serif;
    font-size: 100%;
}

.h1{
    text-align: center;
    color: white;
    font-size: 300%;
    font-family: sans-serif;
    padding-top: 12%;

    padding-left: 30%;
    padding-right: 30%;
}

.p{
    text-align: center;
    color: white;
    font-size: 170%;
    font-family: sans-serif;
    padding-top: 1%;
    font-weight: 300;
}

.p1{
    text-align: center;
    color: white;
    font-size: 130%;
    font-family: sans-serif;
    padding-top: 3%;
    font-weight: 300;
}

.email{
    width: 36%;
    height: 10vh;

    margin-left: 24%;
    margin-top: 1%;
    padding-left: 2%;

    border-style: none;
    font-size: 120%;
}

.btn1{
    width: 17%;
    height: 10vh;
    margin-top: 1%;
    background-color: red;
    color: white;
    font-family: sans-serif;
    font-size: 140%;
    border-style: none;
}

.hrdiv{
    width: 100%;
    height: 1.5vh;
    background-color: rgb(73, 72, 72);
}

.hrdiv2{
    width: 100%;
    height: 5vh;
    background-color: black;
}

.enjoy{
    color: white;
    font-size: 300%;
    font-family: sans-serif;
    padding-top: 20%;
    padding-left: 15%;
}

.bg-black{
    background-color: black;
}

.div1{
    width: 50%;
    height: 70vh;
}

.wos{
    color: white;
    font-size: 170%;
    font-family: sans-serif;
    padding-top: 2%;
    font-weight: 300;

    padding-left: 15%;
    padding-right: 7%;
}

.div2{
    width: 50%;
    height: 70%;
}

.dys{
    color: white;
    font-size: 300%;
    font-family: sans-serif;
    padding-top: 27%;
    padding-right: 15%;
    
}
.syf{
    color: white;
    font-size: 170%;
    font-family: sans-serif;
    padding-top: 2%;
    font-weight: 300;
    padding-right:  7%;
}

.kids-img{
    width: 80%;
    height: 70vh;
    margin-left: 15%;
}

.dd{
    width: 100%;
    height: 165vh;
}

.faq{
    color: white;
    font-size: 300%;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    padding-top: 7%;
}

.lastdiv{
    width: 60%;
    height: 12vh;
    
    margin: 0 auto;
    margin-top: 3%;
    
    background-color: rgb(48, 48, 48);
}

.lastp{
    color: white;
    font-size: 170%;
    font-family: sans-serif;
    padding-top: 2.5%;
    padding-left: 4%;
    font-weight: 300;
}

.alldiv{
    width: 60%;
    height: 12vh;
    
    margin: 0 auto;
    margin-top: 1%;
    
    background-color: rgb(48, 48, 48);
}

.footdiv{
    width: 100%;
    height: 60vh;
}

.ques{
    color: grey;
    padding-top: 5%;
    padding-left: 18%;
    font-family: sans-serif cursive;
    font-size: 110%;
}

.firstp{
    color: grey;
    padding-left: 18%;
    font-family: sans-serif cursive;
    font-size: 100%;
    padding: 5px;
}

.faqdiv{
    width: 30%;
    height: 30vh;
    margin-top: 2%;
    padding-left: 17.7%;    
}

.li-none{
    list-style: none;
}

.helpdiv{
    width: 20%;
    height: 30vh;
    margin-top: 2%;
    margin-left: 3%;
}

.secondp{
    color: grey;
    
    font-family: sans-serif cursive;
    font-size: 100%;
    padding: 5px;
}

.thirddiv{
    width: 18%;
    height: 30vh;
    margin-top: 2%;
}

.thirdp{
    color: grey;
    
    font-family: sans-serif cursive;
    font-size: 100%;
    padding: 5px;
}

.forthdiv{
    width: 25%;
    height: 30vh;
    margin-top: 2%;
}

.netaz{
    color: grey;
    font-family: sans-serif cursive;
    font-size: 100%;
    padding-left: 17.7%;
}

.plusik{
    margin-left: 50%;
    width: 50%;
    height: 50vh;
    color: white;
    
}